#about {
  padding-top: 3rem;
  padding-bottom: 8rem;
  background: #293b4f;
}

.intro-info img {
  height: 16rem;
  width: 16rem;
  border-radius: 15%;
  float: left;
  margin-right: 3em;
  border: 3px solid #f5948f;
}

.lead p {
  padding-top: 15px;
  text-align: justify;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
