body {
  margin: 0;
  padding: 0;
  background: #152c37;
  color: #6382a1;
  font-family: "Montserrat", sans-serif;
  font-family: "Philosopher", sans-serif;
}

.content-wrapper {
  width: 80%;
  height: 2800px;
  padding: 1em 10%;
}
