.contact {
  background-color: #556672;
  padding: 5px;
  transform: skewX(15deg);
  margin-top: 55px;
}

.contact h2 {
  transform: skewX(-15deg);
  font-family: Philosopher;
  font-size: 35px;
  text-decoration: underline #91d3ce;
  text-align: center;
}

.contact ul {
  transform: skewX(-15deg);
  font-size: 4.5rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.contact a {
  color: #91d3ce;
}

.contact a:focus {
  color: #f5948f;
}

.contact a:visited {
  color: #bef6f6;
}
