.footer {
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #336b74;
  font-family: "Philosopher", sans-serif;
  font-size: 34px;
  text-shadow: 4px 4px #c83f29;
  color: antiquewhite;
}
