.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #556672;
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  text-shadow: 2px 2px #f5948f;
}
