.skillset {
  background-color: #080104;
  padding: 5px;
  transform: skewX(-15deg);
}

.skills {
  font-family: "Philosopher", sans-serif;
  font-size: 40px;
  text-decoration: underline solid #6382a1;
  letter-spacing: 0.1em;
  text-align: center;
  transform: skewX(15deg);
}

.skillicons {
  font-size: 4.5rem;
  list-style: none;
  color: #6382a1;
  display: flex;
  justify-content: space-around;
  transform: skewX(15deg);
}

.skillicons li {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
